<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">

    <jsp-config>
        <taglib>
            <taglib-uri>custom-tags</taglib-uri>
            <taglib-location>/WEB-INF/tld/custom.tld</taglib-location>
        </taglib>
    </jsp-config>
    <filter>
        <filter-name>AccessFilter</filter-name>
        <filter-class>com.gleb.ratingmovies.controller.filter.AccessFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AccessFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <error-page>
        <error-code>404</error-code>
        <location>/jsp/pages/error/error.jsp</location>
    </error-page>
    <error-page>
        <error-code>403</error-code>
        <location>/jsp/pages/error/error.jsp</location>
    </error-page>
    <error-page>
        <error-code>402</error-code>
        <location>/jsp/pages/error/error.jsp</location>
    </error-page>
    <error-page>
        <error-code>401</error-code>
        <location>/jsp/pages/error/error.jsp</location>
    </error-page>
    <error-page>
        <exception-type>java.lang.RuntimeException</exception-type>
        <location>/jsp/pages/error/error.jsp</location>
    </error-page>


</web-app>